.game {
  width: 800px;
  height: 200px;
  border-bottom: 1px solid #000;
  margin: auto;
}

#player {
  width: 50px;
  height: 50px;
  background-image: url(img/Timon.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

#block {
  width: 20px;
  height: 40px;
  background-image: url(img/palm_tree_PNG2484-122x170.png);
  background-size: 20px 40px;
  position: relative;
  top: 110px;
  left: 580px;
  /* animation: blockMove 10s infinite linear; */
  animation: blockMove 2s linear;
}

@keyframes blockMove {
  0% {
    left: 580px;
  }
  100% {
    left: -20px;
  }
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 100px;
  }
  /* 30% {
    top: 70px;
  } */
  50% {
    top: 10px;
  }
  /* 80% {
    top: 70px;
  } */
  100% {
    top: 100px;
  }
}
