body {
  background-image: url(img/desert.jpg);
}

.game {
  width: 80%;
  height: 360px;
  /* border-bottom: 1px solid #000; */
  margin: auto;
}

#player {
  width: 120px;
  height: 120px;
  background-image: url(img/Timon.png);
  background-size: 120px 120px;
  position: relative;
  top: 240px;
}

#block {
  width: 120px;
  height: 120px;
  background-image: url(img/horse.png);
  background-size: 120px 120px;
  position: relative;
  top: 140px;
  left: 100%;
  animation: blockMove 2s infinite linear;
}

@keyframes blockMove {
  0% {
    left: 100%;
  }
  100% {
    left: -20%;
  }
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 240px;
  }
  30% {
    top: 50px;
  }
  50% {
    top: 0px;
  }
  70% {
    top: 50px;
  }
  100% {
    top: 240px;
  }
}

.counter {
  text-shadow: 5px 5px 5px #000000f3, 0 0 1em blue, 0 0 0.1em blue;
  font-size: 50px;
  text-align: left;
  margin: 10px;
}
